<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="HAS10 - Football cleat covers promotion">
    <meta name="author" content="Ansonika">
    <title>HAS10 | Football cleat covers promo</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="img/apple-touch-icon-72x72-precomposed.png" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600" rel="stylesheet">

    <!-- BASE CSS -->
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/vendors.css') }}" rel="stylesheet">
	

    <!-- YOUR CUSTOM CSS -->
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
	
	<!-- MODERNIZR MENU -->
	

</head>

<body>
	
	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div><!-- /Preload -->
	
	<div id="loader_form">
		<div data-loader="circle-side-2"></div>
	</div><!-- /loader_form -->
	
	
	<!-- /menu -->
	
	<div class="container-fluid">
	    <div class="row row-height">
	        <div class="col-xl-4 col-lg-4 content-left">
	            <div class="content-left-wrapper">
	                <a href="https://www.amazon.com/dp/B0CHMVWB1P" id="logo"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="" width="45" height="45"></a>

	                <div>
	                    <figure><img src="{{ url_for('static', filename='img/HAS10-football-spats.png') }}" alt="" class="img" width="270" height="270"></figure>
	                    <h2>Thank you for your purchase</h2>
	                    <p>Provide the following details to claim your FREE pair cleat covers.</p>
	                    
	                    
	                </div>
	                <div class="copy">© 2024 HAS10</div>
	            </div>
	            <!-- /content-left-wrapper -->
	        </div>
	        <!-- /content-left -->
	        <div class="col-xl-8 col-lg-8 content-right" id="start">
	            <div id="wizard_container">
	                <div id="top-wizard">
	                    <span id="location"></span>
	                   
	                </div>
	                <!-- /top-wizard -->
	                <form id="wrapped" method="post" action="{{ url_for('main_app.display_free_pair') }}" enctype="multipart/form-data">
	                    <input id="website" name="website" type="text" value="">
	                    <!-- Leave for security protection, read docs for details -->
	                    <div>
	                        <div>
								<div>
								</div>
	                            <h2 class="section_title">Amazon order number</h2>
	                            <p class="main_question">You can find the order number on the amazon purchase email or <a href="https://www.amazon.com/gp/css/order-history">click here</a> to view your amazon orders.</p>
								</div>
								
								
								<div>
	                            <div class="form-group add_top_30">
	                                <label for="order">Amazon order number</label>
	                                <input type="text" name="order_info" id="order_info" class="form-control required" onchange="getVals(this, 'name_field');" required>
	                            </div>
								<div class="form-group add_bottom_30">
									<h2 class="section_title">Select your FREE cleat covers</h2>
									<label>Cleat covers</label>
									<label for="size">size</label>
									<div class="styled-select clearfix">
										<select class="form-control required" name="size" id="size" required>
											<option value="">Choose a size</option>
											<option value="Youth">Youth</option>
											<option value="Small/Medium">Small/Medium</option>
											<option value="Large">Large</option>
										</select>
									</div>
								</div>
								<div class="form-group add_bottom_30">
									<label>Cleat covers</label>
									<label for="color">color</label>
									<div class="styled-select clearfix">
										<select class="form-control required" name="color" id="color" required>
											<option value="">Choose a color</option>
											<option value="Black">Black</option>
											<option value="White">White</option>
											<option value="Orange">Orange</option>
											<option value="Red">Red</option>
											<option value="Royal Blue">Royal Blue</option>
										</select>
									</div>
								</div>
	                            
								<div class="form-group">
									<h2 class="section_title">Shipping information</h2>
	                                <label for="name">Full name</label>
	                                <input type="name" name="name" id="name" class="form-control required" onchange="getVals(this, 'name_field');" required>
	                            </div>

								<div class="form-group">
									<label for="email">Email</label>
									<input type="email" name="email" id="email" class="form-control required" onchange="getVals(this, 'email_field');" required>
								</div>
								
								
								<div class="form-group">
	                                <label for="address">Address</label>
	                                <input type="address" name="address" id="address" class="form-control required" onchange="getVals(this, 'address_field');" required>
	                            </div>
								<div class="form-group">
	                                <label for="city">City</label>
	                                <input type="city" name="city" id="city" class="form-control required" onchange="getVals(this, 'city_field');" required>
	                            </div>
								<div class="form-group">
	                                <label for="state">State</label>
	                                <input type="state" name="state" id="state" class="form-control required" onchange="getVals(this, 'state_field');" required>
	                            </div>
								<div class="form-group">
	                                <label for="zip">Zip code</label>
	                                <input type="zip" name="zip" id="zip" class="form-control required" onchange="getVals(this, 'zip_field');" required>
	                            </div>
								
								<div id="bottom-wizard">
	                        
									<button type="submit" name="process" class="submit">Submit</button>
								</div>
				
	                            
	                        </div>
	                        

	                    </div>
	                    <!-- /middle-wizard -->
	                    
	                    <!-- /bottom-wizard -->
	                </form>
	            </div>
	            <!-- /Wizard container -->
	        </div>
	        <!-- /content-right-->
	    </div>
	    <!-- /row-->
	</div>
	<!-- /container-fluid -->

	<div class="cd-overlay-nav">
		<span></span>
	</div>
	<!-- /cd-overlay-nav -->

	<div class="cd-overlay-content">
		<span></span>
	</div>
	<!-- /cd-overlay-content -->

	
	<!-- COMMON SCRIPTS -->
	<script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/common_scripts.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/velocity.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/common_functions.js') }}"></script>
	<script src="{{ url_for('static', filename='js/file-validator.js') }}"></script>


	<!-- Wizard script-->
	<!-- <script src="js/func_1.js"></script> -->

</body>
</html>